{% load static %}
<div class="w-full max-w-[350px] bg-white rounded-2xl overflow-hidden shadow-lg border border-gray-100 flex flex-col">
                <div class="w-full h-48 overflow-hidden bg-gray-100">
                    <img src="{% static 'images/football.jpg' %}" alt="Event Image" class="w-full h-full object-cover">
                </div>

                <div class="p-4 bg-white">
                    <div class="flex gap-4 items-start">
                        <div class="bg-[#2D3748] text-white py-3 px-2.5 text-center min-w-[65px] max-w-[65px] flex flex-col justify-center items-center shadow-md rounded-lg">
                            <span class="block text-2xl font-black tracking-tight leading-none text-white">{{ event.date|date:"d" }}</span>
                            <span class="block text-[10px] font-black tracking-widest text-gray-300 uppercase mt-2">{{ event.date|date:"M" }}</span>
                            <span class="block text-[10px] font-bold text-gray-400 mt-1">{{ event.date|date:"Y" }}</span>
                        </div>

                        <div class="flex-1 flex flex-col gap-1.5">
                            <div class="flex justify-between">
                                <div>
                                <h3 class="text-base font-black text-black leading-tight tracking-wide line-clamp-1">{{ event.name }} </h3> 
                                <p class="text-[11px] text-gray-400 font-medium mt-0.5 line-clamp-2">{{ event.description }}</p>
                            </div>
                            <div>
                                <a href="{% url 'update' event.id %}" class="rounded-full hover:text-blue-600 transition-colors">edit</a>

                                <form action="{% url 'delete' event.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type"submit" class="rounded-full hover:text-blue-600 transition-colors">delete</button>
                                </form>
                            </div>
                            </div>

                            <div class="flex items-baseline gap-1 mt-1">
                                <span class="text-[10px] text-gray-400 font-bold uppercase tracking-wider">PRICE:</span>
                                <span class="text-sm font-black text-[#DB3B24]">${{ event.ticket }}</span>
                            </div>
                            
                            <div class="mt-2">
                                <a href="#" class="block w-full text-center py-2 bg-black text-white text-[11px] font-black uppercase rounded hover:bg-gray-800 transition-all tracking-widest">
                                    GET TICKET
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
             </div>