{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Past Event</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body>
            <div class="px-3 py-2 text-white bg-rose-600 rounded-md shadow-sm transition-transform hover:scale-105 mt-1 mb-3">
                <a href="{% url 'dashboard' %}" class="font-bold uppercase tracking-wider text-sm block text-center">HOME</a>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 items-start justify-items-center sm:justify-items-start">
            {% for event in events %}
             {% include "event_card.html" %}
            {% endfor %}
        </div>
</body>
</html>